@value green: #16A085;
@value orange: #E67E22;
@value black: #000000;
@value gray: #BDC3C7;

@value light-blue: #E5F0FE;
@value light-green: #E0F5F5;
@value light-orange: #FDEEE8;
@value light-gray: #ECEEF0;

@value medium-blue: #81AADD;
@value medium-green: #70B9B7;
@value medium-orange: #D7AB9A;

@value text-gray: #62626C;
@value table-hover: rgba(206, 206, 206, 0.13);
