@value colors: "../styles/colors.module.css";
@value white from colors;

.full {
  height: 100%;
}

.root {
  composes: full;
  position: relative;
}

.editor {
  composes: full;
  min-height: 75px;
  /* margin with important due to primsjs global styles :/ */
  margin: 0 !important;
}
