@value flexUtils: "../styles/flex-utils.module.css";
@value colors: "../styles/colors.module.css";
@value white from colors;

.full {
  height: 100%;
}

.editor {
  position: relative;
  flex: 1 1;
}

.action {
  display: none;
}

.editor:hover .action {
  display: block;
}

.code {
  composes: full;
  min-height: 75px;
  /* margin with important due to primsjs global styles :/ */
  margin: 0 !important;
}

.root {
  composes: full;
  composes: displayFlex from flexUtils;
  position: relative;
}

.tabs {
  position: fixed;
  right: 21px;
  top: 196px;
}
