@value flexUtils: "../styles/flex-utils.module.css";
@value colors: "../styles/colors.module.css";
@value white from colors;

.tabs {
  composes: displayFlex directionColumn from flexUtils;
}

.tab {
  cursor: pointer;
  border: none;
  padding: 1px 12px 1px 8px;
  border-radius: 38px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
