@value colors: "../styles/colors.module.css";
@value white, green from colors;

.action {
  position: fixed;
  top: 106px;
  right: 46px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.action svg {
  width: 20px;
  height: 20px;
}

.success {
  background-color: green;
  color: white;
}
