@value colors: "../styles/colors.module.css";
@value light-blue, light-green, light-orange, medium-blue, medium-green, medium-orange from colors;

.tag {
  padding: 2px 14px;
  border-radius: 200px;
  display: inline-block;
  max-width: 80px;
}

.loading {
  background: light-blue;
  color: medium-blue;
}

.errorOrCanceled {
  background: light-orange;
  color: medium-orange;
}

.success {
  background: light-green;
  color: medium-green;
}
