.grid {
  display: flex;
  padding-right: 35px;
  height: 100vh;
  overflow: hidden;
}

.column {
  height: 100%;
  overflow: auto;
}

.left {
  composes: column;
  box-shadow: 7px 0 3px -5px rgba(228, 228, 228, 0.8);
  margin-right: 20px;
  min-width: 445px;
}

.right {
  composes: column;
  flex: 1;
}
