@value colors: "../styles/colors.module.css";
@value green from colors;
@value flexUtils: "../styles/flex-utils.module.css";

.header {
  composes: displayFlex itemsCenter from flexUtils;
  padding: 32px;
}

.title {
  margin-left: 24px;
  margin-right: 72px;
}
